@charset "utf-8";
/* CSS Document */

.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #999;
}
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
/*
.col-xs-4 {
  color: #fff;
  font-size: 48px;
  padding-bottom: 20px;
  padding-top: 18px;
}
*/
.list-group{
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  float:left;
  border-radius: 5px;
  border: 2px solid #73AD21;
}
/*
.list-group>.row {
  overflow-x: auto;
  width: 100%;
  height: auto;
}
*/
.list-group>.row>.col-xs-4 {
  display: inline-block; 
  float: none;
  white-space: normal;
  height: 200px;
  }
.list-group>.row>.col-xs-4>.img {
    max-height: 100%;  
    max-width: 100%; 
    height: 75%;
    position: relative;  
    top: 10;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.list-group>.row>.col-xs-4>.caption {
position: absolute;
left: 50%;  
margin: auto;
transform: translateX(-50%);

color: #333333;
/*  background: green; */
text-align:center;
font-weight:bold;
font-size: 18px;
opacity:0.7;
width: 100%;
}

.modal-header, h4, .close {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}
#signup-modal-content, #forgot-password-modal-content{
  display: none;
}
#rcorners {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 2px; 
  width: 200px;
  height: 150px; 
}
.carousel-row .item {
  height: 300px;

}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  max-height: 100%;  
max-width: 100%; 
height: 75%;
position: absolute;  
top: 25;  
bottom: 0;  
left: 0;  
right: 0;  
margin: auto;
}

.carousel-inner > .item > .carousel-caption {
  max-height: 100%;  
  max-width: 100%; 
  position: absolute;  
  margin: auto;
  top: -30px;
  font-weight: 900;
  color: #826cff;
  }
  .oldcarousel-caption {
    max-height: 100%;  
    max-width: 100%; 
    position: relative;  
    margin: auto;
    transform: translateY(30%);
    color: #333333;
    }

.bg-gray {background:#f9f8f2;color:#696969;}
.shadow1 {    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.car-details li {
    border-right: 1px solid #eeeeee;
    margin: 0 !important;
    padding: 0 10px;
    font-size:18px;
}
.car-details li small {
    display: block;
    line-height: 1;
    font-size: 14px;
}
.car-details li .fa {
    color: #dd0000;
    float: left;
    font-size: 18px;
    margin: 10px 10px 20px 0;
}